BasedOnStyle: WebKit
ColumnLimit: 160
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: true
IndentCaseLabels: true
SortIncludes: Never
SpaceAfterCStyleCast: true
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

